:root {
	/* Nord DarkTheme */
	--frost-green: #8fbcbb;
	--frost-cyan: #88c0d0;
	--frost-blue: #81a1c1;
	--frost-dark-blue: #5e81ac;
	--bg: #2e3440; /* Background color */
	--sbg: #3b4252; /* Cards color */
	--imgcol: linear-gradient(
			rgba(46, 52, 64, 0.8),
			rgba(46, 52, 64, 0.8));
	--hbg: rgba(76, 86, 106, 0.8);
	--fg: #d8dee9; /* Secondary foreground */
	--sfg: #2e3440;
	--shadow: 0 5px 7px rgba(36, 41, 51, 0.8) /* Shadow */
}

.light-theme {
	--frost-green: #8fbcbb;
	--frost-cyan: #88c0d0;
	--frost-blue: #81a1c1;
	--frost-dark-blue: #5e81ac;
	--bg: #d8dee9;
	--sbg: #e5e9f0;
	--imgcol: linear-gradient(
		rgba(216, 222, 233, 0.8),
		rgba(216, 222, 233, 0.8)
	);
	--hbg: rgba(216, 222, 233, 1);
	--fg: #434c5e;
	--sfg: #d8dee9;
	--shadow: 0 5px 7px rgba(157, 166, 183, 0.8)
}

* {
 box-sizing: border-box;
 font-family: 'Montserrat', sans-serif;
}

body {
	/* width: 100vw; */
	min-height: 100vh;

	margin: 0;
	padding: 1px;

	background-color: var(--bg);
	background-image: var(--imgcol), url("../assets/wallpaper.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.bg-frost--green {
	background-color: var(--frost-green);
}
.bg-frost--cyan {
	background-color: var(--frost-cyan);
}
.bg-frost--blue {
	background-color: var(--frost-blue);
}
.bg-frost--dark-blue {
	background-color: var(--frost-dark-blue);
}

.popup__hide {
	transform: scale(0);
	opacity: 0;

	transition: transform 0.2s, opacity 0.2s;
}

.hidden {
	display: none;
}

.toggle-theme {
	position: absolute;
	top: 2.5rem;
	right: 2.5rem;

	padding: 1px;

	color: var(--fg);
	background: none;
	border: none;
	outline: none;
}
.toggle-theme svg {
	width: 30px;
	height: 30px;

	-webkit-filter: drop-shadow(var(--shadow));
	filter: drop-shadow(var(--shadow));
}
.toggle-theme:hover {
	cursor: pointer;
}

/* Buttons */
.button {
	padding: 1rem 2rem;
	margin: 5px;

	font-size: 1rem;
	font-weight: 700;

	color: var(--fg);
	background-color: var(--sbg);

	box-shadow: var(--shadow);

	border: none;
	border-radius: 8px;
}
.button:hover {
	cursor: pointer;
}

.button__accent {
	background-color: var(--frost-cyan);
	color: var(--sfg);
}

.button:disabled {
	background-color: #3b4252;
	color: #4c566a;

	cursor: auto;
}

.engine-options {
	display: flex;
}
.button__radio .label__radio {
	padding: 10px;

	height: 50px;
	width: 50px;

	text-align: center;

	display: block;
}
.input__radio:checked ~ .label__radio {
	background-color: var(--frost-cyan);
}
.button__radio img{
	max-width: 100%;
	max-height: 100%;
}
.button__radio input {
	display: none;
}


/* Modal */
.modal__container {
	position: fixed;
	z-index: 999;

	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;

	background-color: var(--bg);
	background-image: var(--imgcol), url("../assets/wallpaper.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.modal {
	/* padding: 2rem; */

	background-color: var(--bg);
	border-radius: 8px;
	box-shadow: var(--shadow);
}

.modal__title {
	margin: 2rem 0;
	padding: 0 1.5rem;

	font-size: 1.5rem;
	font-weight: 700;
	color: var(--fg);
}

.modal__subtitle {
	margin-top: 2rem;

	color: var(--fg);

	font-weight: 500;
}

.modal__content {
	padding: 0 1.5rem;
}

.modal__footer {
	margin: 2rem 0;
	padding: 0 calc(1.5rem - 5px);

	display: flex;
	justify-content: end;
}

@media (min-width: 769px) {
	.modal {
		width: 25%;
	}
}

/* Header */
.header {
	width: 18rem;

	margin: 4rem auto 2rem auto;

	text-align: center;
	color: var(--fg);
}

.weather {
	margin: 0 auto;

	text-shadow: var(--shadow);

	display: flex;
	justify-content: center;
	align-items: center;
}
.weather__icon {
	height: 24px;
	width: 24px;

	-webkit-filter: drop-shadow(var(--shadow));
	filter: drop-shadow(var(--shadow));
}

.weather__temp {
	margin: 0 15px;

	font-weight: bold;
	font-size: 1.3rem;
}
.weather__desc {
	font-size: 1.3rem;
}

.time {
	font-weight: 300;
	font-size: 4rem;
	text-shadow: var(--shadow);
}

.time__date {
	font-size: 1rem;
	font-weight: 500;

	display: block;
}

.greeting {
	margin-top: 3rem;
	margin-bottom: 0;
	
	font-size: 1.3rem;
	text-shadow: var(--shadow);
}

@media (min-width: 769px) {
	.header {
		width: 22rem;
	}

	.weather {
		font-size: 1.2rem;
	}
	.weather__icon {
		width: 30px;
		height: 30px;
	}

	.time {
		font-size: 5rem;
	}
	.time__date {
		font-size: 1.5rem;
	}

	.greeting {
		margin-top: 7rem;
		font-size: 1.7rem;
	}
}

.search__form {
	margin: 0 auto;
}

/* field */

.field {
	height: 3rem;

	margin: 1rem 0;

	background-color: var(--sbg);
	border-radius: 8px;
	box-shadow: var(--shadow);

	display: flex;
	justify-content: end;
	align-items: center;
}

.field__search {
	position: relative;
}

.field__input {
	padding: 0 1rem;
	width: 100%;
	height: 100%;

	color: var(--fg);
	background-color: transparent;
	border: none;
	border-radius: 8px;
	outline: none;

	/* flex: 0 0 88%; */
}

.field__error {
	border: 3px solid #bf616a;
}
.field__error .field__input::placeholder {
	color: #bf616a;
}

.field__error .field__icon {
	color: #bf616a;
}


.field__input::placeholder {
	color: var(--fg);
	opacity: 0.8;
}

.field__icon {
	margin-left: 1rem;
	color: var(--fg);
}

.field__button {
	max-width: 4rem;
	height: 100%;
	padding: 0.5rem;

	font-weight: bold;
	text-align: center;

	color: var(--sfg);
	background-color: var(--frost-cyan);
	border: none;
	border-radius: 0 8px 8px 0;
	outline: none;
}
.field__button:hover {
	cursor: pointer;
}

.field__suggestions {
	z-index: 200;

	position: absolute;
	bottom: -16rem;
	left: 0;

	height: 15rem;
	width: 100%;

	background-color: var(--sbg);
	border-radius: 8px;
	box-shadow: 0 8px 40px #13161c;
}

.field__suggestion-list {
	height: 100%;

	margin: 0;
	padding: 1.2rem;

	list-style: none;

	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.field__suggestion {
	padding: 0.5rem;

	border-radius: 5px;
	transition: background-color 0.3s ease;

	flex: 100%;
}
.field__suggestion:hover {
	background-color: var(--hbg);
}
.selected {
	color: var(--sfg);
	background-color: var(--frost-green);
}
.selected a {
	color: var(--sfg);
}

.field__suggestion-link {
	width: 100%;

	font-size: 1rem;
	font-weight: 500;
	text-decoration: none;
	color: var(--fg);

	display: block;
}

@media (min-width: 600px) {
	.search__input {
		font-size: 1.1rem;
	}
}

@media (min-width: 769px) {
	.search__form {
		width: 34.5%;
	}

	.field__input {
		font-size: 1.2rem;
	}

	.field__label {
		height: 3rem;
		max-height: 3rem;
	}
	.field__label:hover {
		cursor: pointer;
	}
}

/* Cards Link */
.card__container {
	max-width: 90%;
	margin: 3rem auto;

	display: grid;
	grid-template-columns: repeat(4, 1fr);
	/* grid-template-rows: 3.5rem; */
	/* grid-auto-rows: 3.5rem; */
	gap: 1rem;
}
@media (max-width: 768px) {
	.card__container {
		place-items: center;
	}
}

.card {
	padding: 1rem;

	color: var(--fg);
	background-color: var(--sbg);
	box-shadow: var(--shadow);
	border-radius: 8px;

	text-align: center;
}
@media (min-width: 450px) {
	.card {
		padding: 1.5rem;
	}
}
@media (min-width: 550px) {
	/* .card__container{ */
	/* 	padding: 2.5rem; */
	/* 	grid-template-rows: 5rem; */
	/* 	grid-auto-rows: 5rem; */
	/* } */
	.card {
		padding: 2.5rem;
	}
}

.card__title {
	margin: 0;
	padding: 0.5rem;

	font-size: 1.4rem;
	font-weight: 500;

	color: var(--bg);
	border-radius: 8px;
}

.card__list {
	padding: 0;
	list-style: none;
	text-align: center;
}

.card__item {
	padding: 0.5rem;

	border-radius: 5px;
	transition: background-color 0.3s ease-in;
}
.card__item:hover {
	background-color: var(--hbg);
}

.card__link {
	font-size: 1.2rem;
	width: 100%;
	height: 100%;

	color: var(--fg);
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card__container--listview {
	display: none;
}

@media (min-width: 769px) {
	.card__container--listview {
		display: grid;
	}

	.card__container--iconview {
		display: none;
	}

	.card {
		width: auto;
		height: 18rem;

		margin: 0;
		padding: 1rem;
	}

	.card__link {
		display: block;
	}
}

@media (min-width: 1000px) {
	.card__container {
		max-width: 70%;
	}
}
