:root {
	/* Nord DarkTheme */
	--frost-green: #8fbcbb;
	--frost-cyan: #88c0d0;
	--frost-blue: #81a1c1;
	--frost-dark-blue: #5e81ac;
	--bg: #2e3440; /* Background color */
	--sbg: #3b4252; /* Cards color */
	--imgcol: linear-gradient(
			rgba(46, 52, 64, 0.7),
			rgba(46, 52, 64, 0.7));
	--hbg: rgba(76, 86, 106, 0.8);
	--fg: #d8dee9; /* Secondary foreground */
	--sfg: #2e3440;
	--shadow: 0 5px 7px rgba(36, 41, 51, 0.8) /* Shadow */
}

.light-theme {
	--frost-green: #8fbcbb;
	--frost-cyan: #88c0d0;
	--frost-blue: #81a1c1;
	--frost-dark-blue: #5e81ac;
	--bg: #d8dee9;
	--sbg: #e5e9f0;
	--imgcol: linear-gradient(
		rgba(216, 222, 233, 0.7),
		rgba(216, 222, 233, 0.7)
	);
	--hbg: rgba(216, 222, 233, 1);
	--fg: #434c5e;
	--sfg: #d8dee9;
	--shadow: 0 5px 7px rgba(157, 166, 183, 0.8)
}

* {
 box-sizing: border-box;
 font-family: 'Montserrat', sans-serif;
 /* transition: 0.3s ease-in-out; */
}

body {
	overflow: hidden;

	width: 100vw;
	height: 100vh;

	margin: 0;
	padding: 1px;

	background-color: var(--bg);
	background-image: var(--imgcol), url("./assets/wallpaper.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.bg-frost--green {
	background-color: var(--frost-green);
}
.bg-frost--cyan {
	background-color: var(--frost-cyan);
}
.bg-frost--blue {
	background-color: var(--frost-blue);
}
.bg-frost--dark-blue {
	background-color: var(--frost-dark-blue);
}

.popup__hide {
	transform: scale(0);
	opacity: 0;

	transition: transform 0.2s, opacity 0.2s;
}

.hidden {
	display: none;
}

.toggle-theme {
	position: absolute;
	top: 2.5rem;
	right: 2.5rem;

	padding: 1px;

	color: var(--fg);
	background: none;
	border: none;
	outline: none;
}
.toggle-theme svg {
	width: 30px;
	height: 30px;

	-webkit-filter: drop-shadow(var(--shadow));
	filter: drop-shadow(var(--shadow));
}
.toggle-theme:hover {
	cursor: pointer;
}

/* Header */
.header {
	width: 18rem;

	margin: 4rem auto 2rem auto;

	text-align: center;
	color: var(--fg);
}

.weather {
	margin: 0 auto;

	text-shadow: var(--shadow);

	display: flex;
	justify-content: center;
	align-items: center;
}
.weather__icon {
	height: 24px;
	width: 24px;

	-webkit-filter: drop-shadow(var(--shadow));
	filter: drop-shadow(var(--shadow));
}

.weather__temp {
	margin: 0 15px;

	font-weight: bold;
	font-size: 1.3rem;
}
.weather__desc {
	font-size: 1.3rem;
}

.time {
	font-weight: 300;
	font-size: 4rem;
	text-shadow: var(--shadow);
}

.time__date {
	font-size: 1rem;
	font-weight: 500;

	display: block;
}

.greeting {
	margin-top: 3rem;
	margin-bottom: 0;
	
	font-size: 1.3rem;
	text-shadow: var(--shadow);
}

@media (min-width: 769px) {
	.header {
		width: 22rem;
	}

	.weather {
		font-size: 1.2rem;
	}
	.weather__icon {
		width: 24px;
		height: 24px;
	}

	.time {
		font-size: 5rem;
	}
	.time__date {
		font-size: 1.5rem;
	}

	.greeting {
		margin-top: 7rem;
		font-size: 1.7rem;
	}
}

/* Searcher */
.search {
	position: relative;

	width: 90%;
	height: 3rem;
	margin: 0 auto;

	background-color: var(--sbg);
	border-radius: 8px;
	box-shadow: var(--shadow);

	display: flex;
	/* flex-wrap: wrap; */
	justify-content: end;
	align-items: center;
}

.search__container {
	display: inline;
}

.search__input {
	padding: 0 1rem;
	height: 100%;

	color: var(--fg);
	background-color: transparent;
	border: none;
	border-radius: 8px;
	outline: none;

	flex: 0 0 88%;
}
*::placeholder {
	color: var(--fg);
	opacity: 0.8;
}

.search__button {
	max-width: 4rem;
	height: 100%;
	padding: 0.5rem;

	font-weight: bold;
	text-align: center;

	color: var(--sfg);
	background-color: var(--frost-cyan);
	border: none;
	border-radius: 0 8px 8px 0;
	outline: none;

	flex: 0 0 12%;
}
.search__button:hover {
	cursor: pointer;
}

.search__suggestions {
	z-index: 999;

	position: absolute;
	bottom: -16rem;
	left: 0;

	height: 15rem;
	width: 100%;

	background-color: var(--sbg);
	border-radius: 8px;
	box-shadow: 0px 8px 40px #13161c;
}

.search__suggestion-list {
	height: 100%;

	margin: 0;
	padding: 1.2rem;

	list-style: none;

	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.search__suggestion {
	padding: 0.5rem;

	border-radius: 5px;
	transition: background-color 0.3s ease;

	flex: 100%;
}
.search__suggestion:hover {
	background-color: var(--hbg);
}
.selected {
	color: var(--sfg);
	background-color: var(--frost-green);
}
.selected a {
	color: var(--sfg);
}

.search__suggestion-link {
	width: 100%;

	font-size: 1rem;
	font-weight: 500;
	text-decoration: none;
	color: var(--fg);

	display: block;
}

@media (min-width: 600px) {
	.search__input {
		font-size: 1.1rem;
	}
}

@media (min-width: 769px) {
	.search {
		width: 34.5%;
	}

	.search__input {
		font-size: 1.2rem;
	}

	.search__label {
		height: 3rem;
		max-height: 3rem;
	}
	.search__label:hover {
		cursor: pointer;
	}
}

/* Cards Link */
.card__container {
	max-width: 90%;
	margin: 3rem auto;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.card {
	min-height: 3.5rem;
	min-width: 3.5rem;
	max-height: 3.5rem;
	max-width: 3.5rem;

	padding: 0.5rem;
	margin-bottom: 2rem;
	margin-right: 2rem;

	color: var(--fg);
	background-color: var(--sbg);
	box-shadow: var(--shadow);
	border-radius: 8px;

	text-align: center;
	flex: 0 0 calc(25% - 2rem);
}
.card:nth-child(4),
.card:last-child {
	margin-right: 0;
}
@media (min-width: 600px) {
	.card {
		min-height: 5rem;
		min-width: 5rem;
		max-width: 5rem;
		max-height: 5rem;

		margin-right: 6rem;
		margin-bottom: 4rem;
	}
}

.card__title {
	margin: 0;
	padding: 0.5rem;

	font-size: 1.4rem;
	font-weight: 500;

	color: var(--bg);
	/* background-color: var(--frost-green); */
	border-radius: 8px;
}

.card__list {
	padding: 0;
	list-style: none;
	text-align: center;
}

.card__item {
	padding: 0.5rem;

	border-radius: 5px;
	transition: background-color 0.3s ease-in;
}
.card__item:hover {
	background-color: var(--hbg);
}

.card__link {
	font-size: 1.2rem;
	width: 100%;
	height: 100%;

	color: var(--fg);
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card__container--listview {
	display: none;
}

@media (min-width: 769px) {
	.card__container--listview {
		display: grid;
	}
	.card__container {
		max-width: 70%;
		margin: 2rem auto;

		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 1rem;
	}

	.card__container--iconview {
		display: none;
	}

	.card {
		width: auto;
		height: 18rem;
		max-height: 18rem;
		max-width: 100rem;

		margin: 0;
		padding: 1rem;
	}

	.card__link {
		display: block;
		height: auto;
	}
}
